div{
    border-radius: 5px;
    background-color:palegreen;
    padding: 20px;
    }
    
#AdminName,#AdminRegisterEmail,#AdminRegisterPassword,#AdminConfirmPassword{
        width: 355px;
        height:20px;
    }
 #AdminCity,#AdminState{
    width: 365px;
    height:28px;
 }   
    
    #submit{
        border-radius: 5px;
        background-color: teal;
        color: white;
        padding: 10px; 
        width:150px; 
        margin-left:10px;     
        margin-top: 30px; 
    }